{
   "parser": "babel-eslint",
   "extends": [
      "react",
      // "eslint:recommended",
      ],
   "env": {
      "browser": true,
      "node": true
   },
   "settings": {
      "react": {
         "version": "detect"
      }
   },
   "rules": {
      "indent": ["warn", 4],
      "space-before-function-paren": ["warn"],
      "eqeqeq": "off",
      "no-nested-ternary":"off",
      "camelcase":"off",
      "no-trailing-spaces": "off",
      "semi": "off",
      "eol-last": "warn",
      "object-curly-spacing": false,
      "padded-blocks": false,
      "no-unused-vars": false,
      "quote-props": false,
      "brace-style": false,
      "no-undef": "warn"
   }
}